body {
    margin: 0; /* Remove default margin to fill the entire viewport */
    padding: 0; /* Remove default padding to fill the entire viewport */
    scrollbar-width: thin; /* or auto for browser default */
    scrollbar-color: white transparent; /* thumb color and track color */
}
body::-webkit-scrollbar-thumb {
    background-color: white;
}
  
body::-webkit-scrollbar-track {
    background-color: transparent;
}
#change::-webkit-scrollbar {
    width: 15px;
}
  
#change::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
}
#change::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
}
#content {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Set a fixed height for the parent container */
    overflow: hidden; /* Hide overflow in the parent container */
}
#baner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    color: rgb(1, 1, 82)
}
#change {
    width: 96vw;
    overflow-y: auto; /* Enable vertical scrolling for the child content */
    height: 100%; /* Occupy the entire height of the parent container */
}
#table {
    max-height: 90vh; /* Ensure the image doesn't exceed 75% of the viewport height */
    /*max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 28px;
}
#imageText {
    display:flex;
    flex-direction: row;
}
#baner {
    height: 100vh;
    background-color: yellow;
}
#yellowFlowers {
    display: flex;
    flex-direction: column;
    

}
#yellowFlowersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#yellowFlowersImage {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
}
#zolteKwiatyA {
    margin-left: 20px;
    margin-bottom: 17px;
}
#zolteKwiatyFrame {
    margin-left: 20px;
    margin-bottom: 20px;
    border: 10px solid red;
}
#textBg {
    display: flex;
    justify-content: center;
}
#text-container {
    position: relative;
    padding: 20px;
    text-align: center;
    /*color: rgb(255, 0, 50);*/
    font-weight: bold;
    background-image: url('images/zolte kwiaty bg8.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: local; 
    max-width: 80vw;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 20px;
}

#text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.desiderata {
    text-align: justify;
    text-indent: 30px;
    font-size: 22px;
    color: rgb(74, 4, 4);
    font-weight: bold;
    margin-top: 0;
}
.imageText p {
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
#desiderata2 {
    margin-left: 40px;
    margin-top: 26px;
    max-width: 60vw;
    text-align: justify;
    text-indent: 30px;
    font-size: 22px;
}
p {
    margin: 0; /* Remove default margin for the <p> element */
}
#images3 {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
}
#kobietaMatka {
    margin-top: 38px;
    margin-bottom: 38px;
    width: 385px;
}
#kobietaA {
    width: 385px;
    margin-bottom: 38px;
}
#kobietaRama {
    width: 385px;
    margin-bottom: 38px;
}
#morze {
    margin-bottom: 38px;
    width: 465px;    
}
#morzeNoga {
    margin-bottom: 38px; 
    width: 478px;   
}
#morzeBezFaceta {
    margin-bottom: 38px;
    width: 380px;
}
#morzeRamka {
    margin-bottom: 38px; 
    border: solid 30px rgb(27, 0, 0);
    width: 465px;
}
#schody {
    margin-bottom: 38px;
    width: 390px;    
}
#schodyOwal {
    margin-bottom: 38px;
    width: 296px;    
}
#redFlowers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#palace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    height: auto;
}
#palac {
    margin-top: 30px;
    margin-bottom: 30px;
}
#luwrText {
    background-color: white;
    width: 640px;
    font-size: 20px;
    padding: 5px;
}
#palaceWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 6px solid black;
}
#gallery {
    height: auto;
}
.image-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: 40px;
}
#image-viewer {
    position: fixed;
    z-index: 2;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.image {
    width: 200px;
    height: 260px;
    margin: 5px;
    position: relative;
    border: 2px solid transparent;
}
.image:hover {
    border: 2px solid black;
}
.frame {
    border: 2px solid black;
}
.image::before {
    content: attr(data-image-number); /* Set the content to the data-image-number attribute */
    display: block;
    position: absolute;
    bottom: 10px; /* Adjust the positioning as needed */
    right: 10px; /* Adjust the positioning as needed */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px; /* Adjust the font size as needed */
}
/* CSS to style the image number */
.image-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}

#displayed-image {
    width: 400px;
    height: 520px;
    border: 2px solid black;
}
#displayed-image-container {
    position: relative;
    display: inline-block;
}
#displayed-image-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#arrows {
    display: flex; /* Display in a row */
    flex-direction: column;
    align-items: center;
    width: 4vw;
    opacity: 1;
    max-height: auto;
}
.icon-up-bold:hover {
    color: red;
}
.icon-down-bold:hover {
    color: red;
}
.icon-up-bold {
    font-size: 20px;
    
}
.icon-down-bold {
    font-size: 20px;
}
#arrows {
    background-color: rgb(50, 50, 50);
}
#arrowContainer {
    position: fixed;
    margin-right: auto;
    margin-top: 300px;
}
