body {
    margin: 0; /* Remove default margin to fill the entire viewport */
    padding: 0; /* Remove default padding to fill the entire viewport */
}
#container {
    display: flex;
    flex-direction: column; /* Set the direction to column for vertical layout */
    /*align-items: center; /* Center the images horizontally */
    /*justify-content: center; /* Center the images vertically */
    /*height: 100vh; /* Use 100% of the viewport height */
}
#dude {
    display: flex;
    /*flex-direction: column; /* Set the direction to column for vertical layout */
    align-items: center; /* Center the images horizontally */
    /*justify-content: center; /* Center the images vertically */
    /*height: 100vh; /* Use 100% of the viewport height */
}
#baner {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 23vh;
    background-color: yellow;
    text-align: center;
}
#content {
    display: flex;
    flex-direction: row;
    opacity: 1;
    z-index: -2;
    background-color: green;
    min-height: 60vh;
}
#change {
    display: flex;
    justify-content: center;
    align-items: center; /* To center the "table" both horizontally and vertically within "change" */
    height: 100px; /* Make sure "change" takes up the entire viewport height */
    width: 100%; /* Make sure "change" takes up the entire viewport width */
}
#table {
    background-color: aqua;
    max-height: 75vh; /* Ensure the image doesn't exceed 75% of the viewport height */
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    margin-top: 10px;
    margin-bottom: 10px;
}
#yellowflowers {
    display: none;
    width: 100%;
    height: 75vh;
}
#Eimages img {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-left: 10px;
}
.imageText {
    text-align: left;
    display: flex;
    align-items: flex-start;
}
.imageText p {
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.image img {
    display: block;
}
#lady {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60vh;
    width: 277px;
    
}
#stairs {
    height: 60vh;
    margin-bottom: 10px;
}
#bridge {
    height: 60vh;
    margin-bottom: 10px;
}
#redflowers {
    height: 75vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
#castle {
    margin: 10px;
}
#arrows {
    display: flex;
    flex-direction: column; /* Align "UP" and "DOWN" vertically */
    align-items: center;
    width: 4vw;
    opacity: 1;
    max-height: auto;
    z-index: 1;
    
}
.icon-up-bold:hover {
    color: red;
}
.icon-down-bold:hover {
    color: red;
}
.icon-up-bold {
    font-size: 30px;
}
.icon-down-bold {
    font-size: 30px;
}
#up {
    margin-top: 200px;
}
#text-container {
    display: none;
    position: relative;
    padding: 20px;
    text-align: center; /* Center the text horizontally */
    color: rgb(243, 6, 6); /* Set text color for visibility */
}

#text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/2 korekta.jpeg');
    background-size: cover; /* Set background-size to cover */
    background-position: center; /* Adjust as needed */
    z-index: -1; /* Place the image behind the text */
    width: calc(100vw - 17px);
}
.desiderata {
    text-align: justify;
    text-indent: 30px;
    font-size: 30px;
    color: rgb(143, 3, 3);
    font-weight: bold;
}
#autor1 {
    text-indent: 0px;
}
#autor2 {
    text-indent: 0px;
}
.desiderata2 {
    text-align: justify;
    text-indent: 30px;
    color: black;
    font-size: 16px;
}
#desiderata2 {
    margin-left: 50px;
    margin-top: 7px;
    width: 60vw;
}
p {
    margin: 0; /* Remove default margin for the <p> element */
}


p {
    margin: 0; /* Remove default margin for the <p> element */
}


